# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

db/
*.bak
*.bak1
incremental_db/
output_files/
proc_nativelink_simulation.rpt
*.do
*.sdo
*.sft
*.ini
transcript
simulation/modelsim/modelsim.ini
simulation/modelsim/msim_transcript
simulation/modelsim/proc.sft
simulation/modelsim/proc.vho
simulation/modelsim/proc_6_1200mv_0c_slow.vho
simulation/modelsim/proc_6_1200mv_0c_vhd_slow.sdo
simulation/modelsim/proc_6_1200mv_85c_slow.vho
simulation/modelsim/proc_6_1200mv_85c_vhd_slow.sdo
simulation/modelsim/proc_min_1200mv_0c_fast.vho
simulation/modelsim/proc_min_1200mv_0c_vhd_fast.sdo
simulation/modelsim/proc_modelsim.xrf
simulation/modelsim/proc_run_msim_rtl_vhdl.do
simulation/modelsim/proc_vhd.sdo
simulation/modelsim/rtl_work/
simulation/modelsim/transcript
simulation/modelsim/work/
simulation/modelsim/sim_alu.cr.mti